@model ControlSystem.Domain.ViewModels.LoginViewModel

<link rel="stylesheet" href="~/css/login.css"/>

<div class="outer-div">
    <div class="container ">
        <h2 style="color: #d8d8d8">Вход</h2>

        <form asp-controller="Account" asp-action="Login" method="post" class="form-signin">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div>
                <div class="form-group mb-3" style="position: relative; display: flex; flex-direction: column">
                    <input asp-for="Name" class="input" placeholder="" />
                    <label class="placeholder">Логин</label>
                    <span asp-validation-for="Name" class="text-danger mtop-bold"></span>
                </div>

                <div class="form-group mb-3" style="position: relative; display: flex; flex-direction: column">
                    <input class="input" asp-for="Password" type="password" class="form-control" placeholder="" />
                    <label class="placeholder">Пароль</label>
                    <span asp-validation-for="Password" class="text-danger mtop-bold"></span>
                </div>

                <div class="bottom-wrapper">
                    <button type="submit" class="btn-enter">Войти</button>
                
                    <a class="register-link" asp-controller="Account" asp-action="Register">Регистрация</a>
                </div>
            </div>
        </form>
    </div>
</div>