@using ControlSystem.Domain.Entities;

@model List<Chart>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<style>
    html, body  {
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: #30353c;
    }
    
    .outer-div {
        height: 92.4vh;
        display: flex;
        flex-direction: column;
    }

    .title-label {
        color: #d8d8d8;
        margin: 20px;
        text-align: center;
    }

    #charts-container {
        display: flex;
        flex-direction: column;
        color: #d8d8d8;
        padding: 20px;
        width: 700px;
        /*height: 100vh;*/
        /*min-height: 400px;*/
       /* height: 500px;*/
        border-radius: 20px;
        border: 1px solid #d8d8d8;
        
        overflow: auto;

    }

    .charts-wrapper {
        overflow: hidden;
        border-radius: 20px;
        display: flex;
        width: 700px;
        margin-right: 10px;
        margin: 20px auto auto auto;
        height: 100%;

    }

    .chart {
        border-radius: 20px;
        border: 1px solid transparent;
        width: 100%;
        padding: 20px;
        background-color: #3c414a;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
    }
    
    .chart:hover {
         border: 1px solid #d8d8d8;
    }

    ::-webkit-scrollbar {
        width: 7px; /* Ширина скролла */
        background-color: transparent; /* Прозрачный фон */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #87909e; /* Цвет скролла */
        border-radius: 6px; /* Радиус скролла */
    }

    ::-webkit-scrollbar-track {
        background-color: transparent; /* Прозрачный трек */
    }

    ::-o-scrollbar-thumb {
        background-color: #87909e;
        border-radius: 6px;
    }

    ::-o-scrollbar {
        width: 12px;
        background-color: transparent;
    }

    ::-o-scrollbar-track {
        background-color: transparent;
    }
    
    #chart-del-button {
        margin-bottom: auto;
        margin-left: auto !important;
        margin-right: 7px !important;
        background-color: transparent;
        border: none;
        transition: background-color 0.3s;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
    }

    .chart button {
        opacity: 0;
        transition: opacity 0.5s !important;
    }

    .chart:hover button {
        opacity: 1;
    }

    #chart-del-button:hover {
        background-color: #4f5762;
    }

</style>
<div class="outer-div">
<h2 class="title-label"> Ваши сохраненные диаграммы</h2>

    <div class="charts-wrapper">
        <div id="charts-container">
            @foreach (var chart in Model)
            {
                <div id="chart-div-@chart.Id" class="chart" onclick="openChartInModeler(@chart.Id)">
                    <label>@chart.Title</label>
                    <button id="chart-del-button" onclick="delChart(@chart.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" fill="red">
                            <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                        </svg>
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<script>

    toastr.options = {
        "positionClass": "toast-bottom-right", // Устанавливаем позицию в нижний правый угол
    };

    function openChartInModeler(chartId) {
        var form = document.createElement('form');
        form.action = "/BPMNCharts/ModelerByChart";
        form.method = 'GET';

        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'chartId';
        input.value = chartId;

        form.appendChild(input);
        document.body.appendChild(form);

        form.submit();
    }

    function delChart(chartId) {

        if (window.event) {
            window.event.stopPropagation(); // Для IE
        } 
        else if (event) {
            event.stopPropagation(); // Современные браузеры
        }

        $.ajax({
            url: "/BPMNCharts/DeleteChart",
            method: "POST",
            data: { chartId: chartId },
            success: function(result) {

                $("#charts-container").empty();

                result.forEach(function(chart) {

                    var chartDiv = `
                        <div id="chart-div-${chart.id}" class="chart" onclick="openChartInModeler(${chart.id})">
                            <label>${chart.title}</label>
                            <button id="chart-del-button" onclick="delChart(${chart.id})">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512" fill="red">
                                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                            </button>
                        </div>`;
                    
                    $("#charts-container").append(chartDiv);
                });

                toastr.success('Изменения сохранены!');
            },
            error: function (xhr, status, error) {
                toastr.error(xhr.responseText || 'Произошла ошибка!');
            }
        });
    }
</script>