@using ControlSystem.Domain.Entities;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <!-- required modeler styles -->
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@13.2.2/dist/assets/bpmn-js.css">
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@13.2.2/dist/assets/diagram-js.css">
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js@13.2.2/dist/assets/bpmn-font/css/bpmn.css">

    <link rel="stylesheet" href="https://unpkg.com/bpmn-js/dist/assets/diagram-js.css" />
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css" />
    <link rel="stylesheet" href="https://unpkg.com/bpmn-js-color-picker/colors/color-picker.css" />

    <!-- modeler distro -->
    <script src="https://unpkg.com/bpmn-js@13.2.2/dist/bpmn-modeler.development.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bpmn-js-color-picker@0.7.0/colors/ColorContextPadProvider.min.js"></script>*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bpmn-js-color-picker@0.7.0/colors/color-picker.min.css">

    <!-- needed for this example only -->
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- example styles -->
    <link rel="stylesheet" href="~/css/Modeler.css"/>
    <script type="module" src="~/js/Modeler.js"></script>
</head>
<body>
    @Html.Hidden("xmlChart", (string)@Html.Raw(ViewBag.Chart).ToString())
    @Html.Hidden("chartId", (int?)ViewBag.Id)

    <div id="canvas"></div>

    <div id="saves">
        <button id="import-file-button">Импорт файла</button>
        <button id="saveBpmn">Экспорт в файл</button>
        <button id="export-svg-button">Экспорт в SVG</button>
        <button id="save-to-db">Сохранить в БД</button>
    </div>

    <div id="myModal">
        <form method="post" action="/BPMNCharts/AddChartToDb">
            <input type="hidden" name="jsonChart" id="jsonChart" />
            <p>Введите название диаграммы</p>
            <input type="text" id="modalInput" placeholder="Название">
            <input id="modalButton" type="submit" value="Сохранить" />
        </form>
    </div>
    <div id="overlay"></div>
</body>
</html>
