body, html {
    height: 92.4vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #30353c;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #30353c inset !important; /* Задайте цвет фона для режима автозаполнения */
    background-color: #30353c !important;
    -webkit-text-fill-color: #d8d8d8 !important; /* Задайте цвет текста в режиме автозаполнения */
}

/* Специфичные стили для полей ввода в режиме автозаполнения в Chrome */
input:-internal-autofill-selected {
    background-color: #30353c !important;
    -webkit-text-fill-color: #d8d8d8 !important;
}

input:-internal-autofill-previewed {
    font-size: 16px !important;
    zoom: 1 !important;
}
/* Явное задание цвета текста для обычных состояний */
input {
    color: #d8d8d8 !important;
}

.outer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92.4vh;
    margin: 0;
    overflow: hidden;
    background-color: #30353c;
}

.container {
    max-width: 450px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #d8d8d8;
    padding: 40px;
    box-shadow: 0 0 15px #3c414a, 0 0 15px #3c414a, 0 0 15px #3c414a;
}

.form-signin {
    margin: 0 auto;
    padding: 15px;
}

.input {
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #d8d8d8;
    background-color: #30353c;
    border-radius: 20px;
    color: #d8d8d8;
}

    .input:empty + .placeholder {
        position: absolute;
        top: 12px;
        left: 12px;
        padding: 0 5px;
        background-color: transparent;
        transition: 0.3s;
        pointer-events: none;
        color: #d8d8d8;
    }

    .input:focus + .placeholder,
    .input:not(:placeholder-shown) + .placeholder {
        top: -8px;
        color: #15c118;
        background-color: #30353c;
        opacity: 1;
        font-size: 12px;
    }

    .input:focus {
        border: 1px solid #15c118;
    }

    .input:not(:focus) + .placeholder {
        color: #d8d8d8;
    }

.mtop-bold {
    margin-top: 7px;
    font-weight: bold;
}

.btn-enter {
    border-radius: 20px;
    padding: 9px 18px 9px 18px;
    background-color: transparent;
    color: #15c118;
    border: 1px solid #15c118;
    width: fit-content;
}

    .btn-enter:hover {
        color: #30353c;
        box-shadow: 0 0 10px green, 0 0 30px green, 0 0 60px green;
        background-color: #15c118;
    }

.bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-link {
    margin-top: 7px;
    color: #d8d8d8;
    text-decoration: none;
}

    .register-link:hover {
        /*color: #87909e;*/
        color: #d8d8d8;
        text-decoration: underline;
    }
