<form asp-action="AddPatchNote" asp-controller="Home">
    <div style="display: flex; flex-direction: column;">
        <label>Версия</label>
        <input id="version" name="version"/>
        <label>Краткое описание</label>
        <textarea id="topic" name="topic"></textarea>
        <label>Полное описание</label>
        <textarea id="desc" name="description"></textarea>
        <button type="submit">Сохранить</button>
    </div>
</form>