@using ControlSystem.Domain.Entities;

@model List<UpdateInfo>

<link rel="stylesheet" href="~/css/homePage.css"/>
<script src="~/js/homePage.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="outer-div">
    <div class="about-site">
        <h3 class="site-info title-bordered">Time Sense Workflow</h3>
        <label class="site-info slogan">@ViewBag.InfoTitle</label>
        <label>@ViewBag.AboutSite</label>
    </div>
    <div class="updinfo-wrapper">
        <div class="update-info">
            @foreach(var patch in Model)
            {
                <div class="patch-note" 
                    onclick="openFullInfo(`@patch.Description`, `@patch.Topic`,
                                    `@patch.Date.ToString("dd.MM.yyyy")`, `@patch.Version`)">

                    <div class="version-wrapper">
                        <label id="patch-version">
                            Обновление @patch.Version
                        </label>
                        <label id="patch-date">[@patch.Date.ToString("dd.MM.yyyy")]</label>
                    </div>
                    <label id="patch-topic" class="topic">&#8211; @patch.Topic</label>
                </div>
            }
        </div>
    </div>
</div>


<div id="full-info" class="modalInfo">
    <div class="full-patch-note">
        <div class="version-wrapper">
            <label id="patch-version" style="cursor: default"></label>
            <label id="patch-date" style="cursor: default"></label>
        </div>
        <label id="patch-topic" style="cursor: default"></label>
    </div>

    <div style="margin-top: 10px;  height: 250px; overflow: auto">
        <label id="patch-description"></label>
    </div>
</div>
<div id="overlay" class="overlay" onclick="closeFullInfo()"></div>